
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{admin/fragments/layout}">

<body>
<div layout:fragment="content">

<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">


                <table id="appointment-table" class="table">
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="" id="selectAll"></th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Booth</th>
                        <th>Emergency Contact</th>
                        <th>Preferred Date</th>
                        <th>Allergy</th>
                        <th>Chronic Disease</th>
                        <th>Heart Disease</th>
                        <th>Lung Disease</th>
<!--                        <th>Test Report</th>-->
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Booth</th>
                        <th>Emergency Contact</th>
                        <th>Preferred Date</th>
                        <th>Allergy</th>
                        <th>Chronic Disease</th>
                        <th>Heart Disease</th>
                        <th>Lung Disease</th>
<!--                        <th>Test Report</th>-->
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    <!-- Modal -->
    <div class="modal fade" id="setVaccineDateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Set Vaccine Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="vaccine-date" class="col-form-label">Date:</label>
                        <input type="date" class="form-control" id="vaccine-date" min="">
                        <span class="text-danger d-none vaccine-date-error">Required</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="set-vaccine-date-btn" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
