
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{admin/fragments/layout}">

<body>
<div layout:fragment="content">

<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">


                <table id="appointment-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Booth</th>
                        <th>Emergency Contact</th>
                        <th>Allergy</th>
                        <th>Chronic Disease</th>
                        <th>Heart Disease</th>
                        <th>Test Report</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Booth</th>
                        <th>Emergency Contact</th>
                        <th>Allergy</th>
                        <th>Chronic Disease</th>
                        <th>Heart Disease</th>
                        <th>Test Report</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <!-- END: Content-->



</div>
</body>
</html>
