
<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{patient/fragments/layout}">
<body>
<div layout:fragment="content">


    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <div class="card col-md-4">
                    <div class="card-header">
                        <h4 class="card-title text-primary mb-2">Appointment 01</h4>
                    </div>
                    <div class="card-body">
                        <div class="appointment-info">
                            <label class="mb-1" for="">Vaccine Center</label>
                            <h5>Frankfurt Hospital</h5>
                        </div>

                        <div class="appointment-info mt-3">
                            <label class="mb-1" for="">Date</label>
                            <h5>12-05-2021</h5>
                        </div>

                        <div class="appointment-info mt-3">
                            <label class="mb-1" for="">Time</label>
                            <h5>16:00</h5>
                        </div>

                        <div class="appointment-info mt-3">
                            <a href="get-appointment.html">More Information</a>
                        </div>
                    </div>
                </div><!-- #End Appointment Information Information -->

                <div class="card col-md-4">
                    <div class="card-header">
                        <h4 class="card-title text-primary mb-2">Appointment 02</h4>
                    </div>
                    <div class="card-body">
                        <p>You did not book the appointment yet.</p>
                    </div>
                </div><!-- #End Appointment Information Information -->

                <!-- Take New Appointment Button -->
                <a class="btn btn-primary" href="get-appointment.html">New Appointment</a>

            </div>
        </div>
    </div>
    <!-- END: Content-->


</div>
</body>
</html>
