<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{patient/fragments/layout}">
<body>
<div layout:fragment="content">


<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <form action="#">
                    <!-- Flatpickr Starts -->
                    <section id="flatpickr" class="row">
                        <!-- Ask for help -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Please let us know your problem</h4>
                                </div>
                                <div class="card-body">
                                        <div class="row">
    
                                            <div class="col-md-12">
    
                                                <div class="form-group mb-4">
                                                    <label for="basic-default-password">I am not feeling good after taking</label>
                                                    <div class="input-group form-password-toggle mb-2">
                                                        <select class="form-control" id="basicSelect">
                                                            <option>First dose of vaccien</option>
                                                            <option>Second dose of vaccien</option>
                                                        </select>
                                                    </div>
                                                </div>
    
                                                <div class="form-group mb-4">
                                                    <label for="basic-default-password">Please specify Your problem</label>
                                                    <div class="">
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Textarea"></textarea>
                                                    </div>
                                                </div>    
                                                
                                                <div class="form-group mb-4">
                                                    <label for="basic-default-password">I want to meet doctor</label>
                                                    <div class="mt-1">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="ld" id="ld1" value="male" checked="">
                                                            <label class="form-check-label" for="ld1">In Person</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="ld" id="ld2" value="female">
                                                            <label class="form-check-label" for="ld2">Online</label>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div><!-- #End Ask for help -->

                        <div class="col-md-3">
                            <div class="card border border-danger">
                                <div class="card-header">
                                    <h4 class="card-title mb-4 text-danger">Only for Emergency Case</h4>
                                </div>
                                <div class="card-body">
                                    <form action="#">
                                        <input id="em" type="checkbox">
                                        <label for="em">I need an emmergency support.</label>
                                        <button class="btn btn-danger mt-2" type="submit">Emergency Support</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                <!-- Flatpickr Ends-->

                    <button class="btn btn-primary mb-5">Submit</button>

                </form>
                

            </div>
        </div>
    </div>
    <!-- END: Content-->


</div>
</body>
</html>
