<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{patient/fragments/layout}">
<body>
<div layout:fragment="content">

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <form action="#">
                    <!-- Flatpickr Starts -->
                    <section id="flatpickr">
                        <!-- Time and location based Information -->
                        <div class="card col-md-4">
                            <div class="card-header">
                                <h4 class="card-title">Location and Time</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label for="basic-default-password">Vaccine Center</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                <select class="form-control" id="basicSelect">
                                                    <option>Frankfurt Hospital</option>
                                                    <option>Munchen Hospital</option>
                                                    <option>Hanau Hospital</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="basic-default-password">Emmergency Contact Number</label>
                                            <div class="input-group form-password-toggle mb-2">
                                                <input type="text" class="form-control" id="basic-default-password"
                                                       placeholder="Your Phone Number"
                                                       aria-describedby="basic-default-password"/>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="fp-default">Appointment Date</label>
                                            <input type="text" id="fp-default" class="form-control flatpickr-basic mb-2"
                                                   placeholder="YYYY-MM-DD"/>
                                        </div>

                                        <section id="pick-a-time">
                                            <label for="fp-default">Select Your Time</label>
                                            <input type="text" id="pt-default"
                                                   class="form-control pickatime picker__input picker__input--active"
                                                   placeholder="8:00 AM" readonly="" aria-haspopup="true"
                                                   aria-readonly="false" aria-owns="pt-default_root">
                                        </section>


                                    </div>
                                </div>
                            </div>
                        </div><!-- #End Time and location based Information -->

                        <!-- Health related Information -->
                        <div class="card col-md-4">
                            <div class="card-header">
                                <h4 class="card-title">Health Status</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group mb-4">
                                            <label for="basic-default-password">History of chronic disease</label>
                                            <div class="mt-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="cd" id="cd1"
                                                           value="yes" checked="">
                                                    <label class="form-check-label" for="cd1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="cd" id="cd2"
                                                           value="no">
                                                    <label class="form-check-label" for="cd2">No</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="basic-default-password">History of heart failour</label>
                                            <div class="mt-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="hf" id="hf"
                                                           value="male" checked="">
                                                    <label class="form-check-label" for="hf">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="hf"
                                                           id="inlineRadio2" value="female">
                                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="basic-default-password">Allergies</label>
                                            <div class="mt-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="al" id="al1"
                                                           value="male" checked="">
                                                    <label class="form-check-label" for="al1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="al" id="al2"
                                                           value="female">
                                                    <label class="form-check-label" for="al2">No</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="basic-default-password">History of Lung related desease</label>
                                            <div class="mt-1">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="ld" id="ld1"
                                                           value="male" checked="">
                                                    <label class="form-check-label" for="ld1">Yes</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="ld" id="ld2"
                                                           value="female">
                                                    <label class="form-check-label" for="ld2">No</label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <label for="basic-default-password">Please specify any other desease (If
                                                any)</label>
                                            <div class="mt-1">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                          placeholder="Textarea"></textarea>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div><!-- #End THealth related Information  -->
                    </section>
                    <!-- Flatpickr Ends-->

                    <button class="btn btn-primary mb-5">Submit</button>

                </form>


            </div>
        </div>
    </div>
    <!-- END: Content-->

</div>
</body>
</html>
