<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="~{patient/fragments/layout}">
<body>
<div layout:fragment="content">

<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-body">
                <div class="card col-md-4">
                    <div class="card-header">
                        <h4 class="card-title text-primary mb-2">Vaccine Dose 01</h4>
                    </div>
                    <div class="card-body">
                        <p>Congratulations ! You have succefully take the first vaccine. If you feel any kind of health related issue then feel free to ask for help.</p>
                        
                        <a class="text-primary" href="ask-for-help.html">Ask for Help</a>
                    </div>
                </div><!-- #End Appointment Information Information -->

                <div class="card col-md-4">
                    <div class="card-header">
                        <h4 class="card-title text-primary mb-2">Vaccine Dose 02</h4>
                    </div>
                    <div class="card-body">
                        <p>You did not take the second vaccine yet.</p>
                    </div>
                </div><!-- #End Appointment Information Information -->

                <!-- Take New Appointment Button -->
                <a class="btn btn-primary" href="get-appointment.html">New Appointment</a>

            </div>
        </div>
    </div>
    <!-- END: Content-->

</div>
</body>
</html>
